/*:::: Mobile Styles ::::*/
//
// Only added as-needed. Keeping
// just a simple show/hide class
// for mobile menus mostly.

// Needed to hide mobile-only elements
.mobile-show { display: none; }

@media (max-width: 768px) {
  mobile-show { display: block; }

  [class*="col-"] {
    grid-column: span 12;
  }
}
